{% extends "base.html.twig" %}

        {% block body %}
        {% if is_granted("ROLE_ADMIN") %}
    
        <div class="d-flex justify-content-center mt-4 mb-4">
        <button class="btn btn-primary "><a href={{path("country_add")}} class="text-decoration-none text-white">Agregar Pais</a></button>
        </div>
        {% endif %}
        <div class="d-flex justify-content-center align-items-center flex-column" style="height:550px">
            {% for country in countries %}
                <h1 style="color:white;">{{country.name}}</h1>
                 {% if is_granted("ROLE_ADMIN") %}
                <button class="btn btn-primary "><a href={{path("country_edit",{id:country.id})}} class="text-decoration-none text-white">Editar Pais</a></button>
                {% endif %}
            {% endfor %}
            
            

        </div>


        {% endblock %}
 